

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


 
.signinorsignoutcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

/* Add this to your index.css */

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.loadingSpinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #101357;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.please{
  font-size: 14px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
